
.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.projects-navbar {
    font-size: 15px;
}

.project-shelf {
    display: block;
    width: 50%;
    max-height: 65%;
    padding: 0;
    margin-bottom: 30px;
    overflow: auto;
}

.projects-shelf-item {
    width: 100%;
}
