
.slider-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    position: relative;
}

.slider-left,
.slider-right {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 50%;
}

@media only screen and (max-width: 930px) {
    .slider-container {
        display: block;
    }

    .slider-left,
    .slider-right {
        width: 100%;
        height: 50%;
    }
}

/* animation */
.slider-left,
.slider-right {
    transition: transform ease 0.8s;
}

.slider-left.animation-slider-fold {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.slider-right.animation-slider-fold {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}
